$color-400: #1f2933;
$color-300: #626e7c;
$color-200: #e4e7eb;
$color-100: #f5f7fa;

*, *:before, *:after {
  box-sizing: border-box;
}

html {
    direction: rtl;

}

body {
    padding: 0;
    margin: 0;
    background-color: $color-400;
    font-family: 'Heebo', sans-serif;
    color: $color-100;
}

p {
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    color: $color-100;
}



nav {
    color: $color-200;
    margin: 1.5rem;
    ul {
        padding: 0rem;
        display: flex;
        list-style: none;
        justify-content: flex-end;        

        li {
            margin: 0.75rem;

            &:hover,
            &:focus {
                color: $color-100;
                text-decoration: underline;
                cursor: pointer;
            }

            &:last-child {
                margin-left: 0;
            }
        }
    }
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
    margin-bottom: 6rem;

    h1 {
        font-size: 4.5rem;
        font-weight: bold;
        margin: 2rem;
        margin-bottom: 1rem;
        letter-spacing: 0.3rem;
    }

    p {
        color: $color-200;
        text-align: center;
        max-width: 500px;
        margin: 0;
    }
}


.posts {
    background-color: $color-300;
    border-radius: 1.4rem ;

    .post {
        margin: 0 1.5rem;
        padding: 1.2rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-basis: 100%;
        
        p, span, h1 {
            flex-grow: 1;
        }

        h1 {
            margin: 0;
            font-size: 2.2rem;
            letter-spacing: 0.1rem;
            width: 100%;

            &:hover,
            &:focus {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        img {
            width: calc(100% + 2*1.5rem);
            margin: 1rem 0;
        }

        span {
            font-size: 0.8rem;
        }

        .read-more {
            text-align: left;
            transition: text-decoration 250ms ease-in-out;

            &:hover,
            &:focus {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

